# Core
streamlit==1.30.0
requests==2.32.3

# Audio TTS
edge-tts==6.1.12
asyncio==3.4.3

# Video
moviepy==1.0.3
imageio==2.34.1
imageio-ffmpeg==0.5.1

# Whisper
whisper-timestamped==1.15.4
numpy==1.26.4
scipy==1.13.1

# Translator / language detection
deep-translator==1.9.6
langdetect==1.0.9

# Utilities
pydantic==2.7.3
json5==0.9.14
tqdm==4.66.4

# System utils
platformdirs==3.10.0